<!DOCTYPE html>
<html>
    <head>
        <meta charset="utf-8">
        <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    
        <!-- Bootstrap CSS -->
        <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/css/bootstrap.min.css" integrity="sha384-Vkoo8x4CGsO3+Hhxv8T/Q5PaXtkKtu6ug5TOeNV6gBiFeWPGFN9MuhOf23Q9Ifjh" crossorigin="anonymous">
        <link href="https://fonts.googleapis.com/css?family=Poppins:400,700&display=swap" rel="stylesheet">
        <title>Cvtheque</title>
        <link rel="stylesheet" href="style.css">
        <script src="https://kit.fontawesome.com/332a215f17.js" crossorigin="anonymous"></script>
       
	{% block stylesheets %}
    <link rel="stylesheet" href="{{ asset('build/css/style.css') }}">
{% endblock %}
        
    <title> UPF Cvtheque| Meilleur emplois</title>
    
    </head>
    <body>
        <nav class="navbar navbar-expand-sm navbar-dark bg-black">
        <div class="container">
          <a href="#" class="navbar-brand"><h3>UPF Cvtheque | Meilleur emplois</h3></a>
          <button class="navbar-toggler" data-toggle="collapse" data-target="#navbarCollapse">
            <span class="navbar-toggler-icon"></span>
          </button>
          <div class="collapse navbar-collapse" id="navbarCollapse">
            <ul class="navbar-nav ml-auto">
              <li class="nav-item ">
                <a href='{{path("index")}}' class="nav-link"><h5>Home</h5></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><h5>Admin</h5></a>
              </li>
              <li class="nav-item active">
                <a href="#" class="nav-link"><h5>Etudiants</h5></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><h5>Recruteurs</h5></a>
              </li>
              <li class="nav-item">
                <a href="#" class="nav-link"><h5>Contact</h5></a>
              </li>
            </ul>
          </div>
        </div>
    </nav>
    <div class="mm">
        <div class="experience1">
        <center>
        <form action="">
        <table>
        <tr><td><p class="experience2">Authentification</p></td></tr><br>
        <tr><td><p class="experience3">Email</p></td><td><input type="text" class="experience4"></td></tr>
        <tr><td> <p class="experience3">Mot de passe</p></td><td><input type="password" class="experience4"></td></tr>
        <tr><td><input a href="#" class="xtn xtn-color slide-xtn xtn-lg" type="button" value="Connection" class="experience5"></a></td></tr>

        </table>
    </form>
    <center>
        </div> 
    </div>
        <footer class="footer mt-5">
        <div class="text-center py-5">
            <h2 class="py-3">CvTheque</h2>
           <div class="mx-auto heading-line"></div>
         </div>
        <div class="container">
            <div class="row mb-3">
                <div class="col-lg-8 offset-lg-2 text-center">
                    <p></p>
                    <div class="justify-content-center">
                     <a href="https:///"> <i class="fab fa-facebook fa-2x"></i></a>
                     <a href="https://"> <i class="fab fa-twitter fa-2x"></i></a>
                      <a href="https:///"><i class="fab fa-instagram fa-2x"></i></a>
                      
                      </div>
               </div>
            </div>
            <div class="copyright text-center py-3 border-top text-light">
              <p>&copy; Copy Right Cvtheque</p>
                
            </div>
        </div>
  
    </footer>
  
  
  
   
      <!-- Optional JavaScript -->
      <!-- jQuery first, then Popper.js, then Bootstrap JS -->
      <script src="https://code.jquery.com/jquery-3.4.1.slim.min.js" integrity="sha384-J6qa4849blE2+poT4WnyKhv5vZF5SrPo0iEjwBvKU7imGFAV0wwj1yYfoRSJoZ+n" crossorigin="anonymous"></script>
      <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.0/dist/umd/popper.min.js" integrity="sha384-Q6E9RHvbIyZFJoft+2mJbHaEWldlvI9IOYy5n3zV9zzTtmI3UksdQRVvoxMfooAo" crossorigin="anonymous"></script>
      <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.4.1/js/bootstrap.min.js" integrity="sha384-wfSDF2E50Y2D1uUdj0O3uMBJnjuUD4Ih7YwaYd1iqfktj0Uod8GCExl3Og8ifwB6" crossorigin="anonymous"></script>
    </body>
     
        
    </body>
</html>